<div class="container">
    <div class="article-list-box">
        <div class="head">
            <div><%= location %></div>
            <i class="iconfont icon-location article-item"></i>
        </div>
    </div>
</div>