<div class="container">
    <div class="article-list-box">
        <div class="head">
            <label class="head-label"><%= location %></label>
            <i class="iconfont icon-location article-item"></i>
            <span>非常好!目前工计183篇日志。继续努力。</span>
        </div>
        <div class="article-box-body">
            <div class="year-item item-title-0">
                <h2>2016</h2>
            </div>
            <div class="year-item item-title-1">
                <h2>2015</h2>
            </div>
            <div class="year-item item-title-2">
                <h2>2014</h2>
            </div>
            <div class="year-item item-title-3">
                <h2>2013</h2>
            </div>
            <div class="year-item item-title-4">
                <h2>2012</h2>
            </div>
        </div>
    </div>
</div>