<div class="container">
    <div class="article-list-box">
        <div class="head">
            <label class="head-label"><%= location %></label>
            <i class="iconfont icon-location article-item"></i>
            <span>非常好!目前工计183篇日志。继续努力。</span>
        </div>
        <div class="article-box-body">
            <div class="year-item item-title-0">
                <h2>2016</h2>
            </div>
            <article class="article-item article-type-normal">
                <header class="post-header td02">
                    <h1 class="post-title">
                        <a href="/" class="post-title-link">
                            <span>关于主题</span>
                        </a>
                    </h1>
                    <div class="post-meta">
                        <time class="post-time">10-20</time>
                    </div>
                </header>
            </article>
            <article class="article-item article-type-normal">
                <header class="post-header td02">
                    <h1 class="post-title">
                        <a href="/" class="post-title-link">
                            <span>今日阅读列表</span>
                        </a>
                    </h1>
                    <div class="post-meta">
                        <time class="post-time">10-02</time>
                    </div>
                </header>
            </article>
            <article class="article-item article-type-normal">
                <header class="post-header td02">
                    <h1 class="post-title">
                        <a href="/" class="post-title-link">
                            <span>Karam快速上手笔记</span>
                        </a>
                    </h1>
                    <div class="post-meta">
                        <time class="post-time">09-12</time>
                    </div>
                </header>
            </article>
            <article class="article-item article-type-normal">
                <header class="post-header td02">
                    <h1 class="post-title">
                        <a href="/" class="post-title-link">
                            <span>关于如何写作知乎问答</span>
                        </a>
                    </h1>
                    <div class="post-meta">
                        <time class="post-time">09-11</time>
                    </div>
                </header>
            </article>
            <div class="year-item item-title-1">
                <h2>2015</h2>
            </div>
            <div class="year-item item-title-2">
                <h2>2014</h2>
            </div>
            <div class="year-item item-title-3">
                <h2>2013</h2>
            </div>
            <div class="year-item item-title-4">
                <h2>2012</h2>
            </div>
        </div>
    </div>
</div>