<% page.posts.forEach(function (post,i) {%>
<% if(i>0) { %>
<div class="br"></div>
<% } %>
<%- partial('_partial/article',{post:post,index:true})%>
<% }) %>
<% if(page.total>1) { %>
<div class="page-box">
    <%- partial('_partial/component/pagination')%>
</div>
<% } %>

