.tags-cloud-box{
    text-align: center;
    color: #555;
    .head{
        padding-top:40px;
    }
    .tag-box-body{
        padding: 40px 0;
    }
    .tag{
        padding:0 10px;
        line-height: 50px;
    }
    .tag:hover{
        color: #333!important;
        transform: scale(1.05);
    }
}