body, .smooth-container {
    scroll-behavior: smooth
}

html,
body {
    font-family:'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    //font-family: PingFangSC-Regular, 'Roboto', Verdana, "Open Sans", "Helvetica Neue", "Helvetica", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    min-height: 100%;
}

body {
    background: #f5f5f5;
    .container{
        width: $container-width;
        background-color: #fff;
        margin: $head-inner-height - $head-box-height + $avatar-space auto;
        box-sizing: border-box;
    }
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    font-weight: bold;
    line-height: 2;
    font-family: 'Roboto Slab', 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
}

a{
    color: #333;
}