//$site-color: #1abc9c;
//$link-color: $site-color;
//$link-hover-color: $site-color;
//
//$tag-item-height: 30px;
//$tag-title-height: 40px;
//
//$category-item-height: 30px;
//$category-title-height: 40px;
//
//$post-width: 760px;
//$article-color: #555;
//$article-font-size: 15px;
//
//$code-color: #555;
//$code-font-size: 14px;
//
//$title-color: #000;
//$icon-height: 20px;
//
//$pagination-item-size: 28px;
//$pagination-color: #444;
//$pagination-bg-color: #f0f0f0;
//
//$toc-step: 12px;
//$hint-height: 32px;
//
//$about-width: 600px;
//$search-width: 600px;
//$project-width: 600px;
//$link-width: 600px;
//$input-search-height: 36px;

//common

$container-width: 1200px;

//header
$head-line: 3px;
$head-box-height: 100px;
$head-inner-width: $container-width ;
$head-inner-height: 140px;
$avatar-space: 20px;
$inner-box-width: 500px;
$menu-size: 35px;

//article-list

$left-line: 4px;
$icon-width: 40px;
$left-blank: 30px;
$year-circle: 8px;
$article-item-circle: 6px;

//home

$article-br-width: 100px;
$article-br-height: 2px;


